//.main-container{
//    display: flex;
//    flex-direction: column;

//}
.input-block{
    display: grid;
    grid-template-columns: 0.5fr 3fr ;
}

input{
    display: block;
    width: 340px;
    height: 39px;
    border-radius: 8px;
    margin: 5px 0 ;
    font-size: 20px;
}
.input-block label{
    display: block;
    margin:   auto;
    width: 73px;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    font-style: notmal;
    font-family: 'Inter';
    color: #000000;
}
.date-input {
    display: block;
    margin:  30px  ;
    width: 73px;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    font-style: notmal;
    font-family: 'Inter';
    color: #000000;
}

.date-input label{
    display: block;
    width: 45px;
    height: 17px;
    border-radius: 8px;
    margin:  -5px;
}
.date-input input{
    font-size: 20px;
}

.filter-block{
    background-color: #1F1F1F;
    width: 780px;
    height: 100%;
    border-radius: 12px;
    margin: 10px auto;
}